<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
</head>

<body>
    <div class="container">
        <h1 class="text-center">Submit form using node js</h1>
        <div class="container">
            <form method="POST" action="">
                <!-- First Name input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example1">First Name</label>
                    <% if(errors && errors.firstname) { %>
                    <span class="text-danger"><%= errors.firstname.msg %></span>
                    <% } %>
                    <input type="text" name="firstname" value="<%= formdata.firstname %>" id="form4Example1" class="form-control" />
                </div>

                <!-- Last Name input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example1">Last Name</label>
                    <% if(errors && errors.lastname) { %>
                    <span class="text-danger"><%= errors.lastname.msg %></span>
                    <% } %>
                    <input type="text" name="lastname" value="<%= formdata.lastname %>" id="form4Example1" class="form-control" />
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example2">Email address</label>
                    <% if(errors && errors.email) { %>
                    <span class="text-danger"><%= errors.email.msg %></span>
                    <% } %>
                    <input type="email" name="email" value="<%= formdata.email %>" id="form4Example2" class="form-control" />
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example2">Password</label>
                    <% if(errors && errors.password) { %>
                    <span class="text-danger"><%= errors.password.msg %></span>
                    <% } %>
                    <input type="password" name="password" value="<%= formdata.password %>" id="form4Example2" class="form-control" />
                </div>

                <!-- Confirm Password input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example2">Confirm Password</label>
                    <% if(errors && errors.confirm_password) { %>
                    <span class="text-danger"><%= errors.confirm_password.msg %></span>
                    <% } %>
                    <input type="password" name="confirm_password" value="<%= formdata.confirm_password %>" id="form4Example2" class="form-control" />
                </div>

                <!-- Message input -->
                <div class="form-outline mb-4">
                    <label class="form-label" for="form4Example3">Message</label>
                    <% if(errors && errors.message) { %>
                    <span class="text-danger"><%= errors.message.msg %></span>
                    <% } %>
                    <textarea class="form-control" name="message" id="form4Example3" rows="4"><%= formdata.message %></textarea>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">
                    Send
                </button>
            </form>
        </div>
    </div>
</body>

</html>